<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="ElPais Scraper BrowserStack Suite" parallel="methods" thread-count="5">

    <test name="Windows Chrome Test">
        <parameter name="browser" value="chrome"/>
        <parameter name="os" value="Windows"/>
        <parameter name="osVersion" value="10"/>
        <parameter name="browserVersion" value="latest"/>
        <classes>
            <class name="tests.ElPaisTest">
                <methods>
                    <include name="testScrapeTranslateAnalyze"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Windows Firefox Test">
        <parameter name="browser" value="firefox"/>
        <parameter name="os" value="Windows"/>
        <parameter name="osVersion" value="10"/>
        <parameter name="browserVersion" value="latest"/>
        <classes>
            <class name="tests.ElPaisTest">
                <methods>
                    <include name="testScrapeTranslateAnalyze"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="macOS Safari Test">
        <parameter name="browser" value="safari"/>
        <parameter name="os" value="OS X"/>
        <parameter name="osVersion" value="Big Sur"/>
        <parameter name="browserVersion" value="latest"/>
        <classes>
            <class name="tests.ElPaisTest">
                <methods>
                    <include name="testScrapeTranslateAnalyze"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="Android Chrome Test">
        <parameter name="browser" value="chrome"/>
        <parameter name="os" value="android"/>
        <parameter name="osVersion" value="12.0"/>
        <parameter name="browserVersion" value="latest"/>
        <classes>
            <class name="tests.ElPaisTest">
                <methods>
                    <include name="testScrapeTranslateAnalyze"/>
                </methods>
            </class>
        </classes>
    </test>

    <test name="iOS Safari Test">
        <parameter name="browser" value="safari"/>
        <parameter name="os" value="ios"/>
        <parameter name="osVersion" value="16"/>
        <parameter name="browserVersion" value="latest"/>
        <classes>
            <class name="tests.ElPaisTest">
                <methods>
                    <include name="testScrapeTranslateAnalyze"/>
                </methods>
            </class>
        </classes>
    </test>

</suite>
